<!DOCTYPE html>
<html>
  <head>
    <title>hello world</title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <a href="/" class="header item">Accueil</a>
    </div>

    <div class="ui main container" style="margin-top: 7em;">
      <% if (locals.flash && locals.flash.error) { %>
      <div class="ui negative message">
        <%= flash.error %>
      </div>
      <% } %>

      <% if (locals.flash && locals.flash.success) { %>
      <div class="ui positive message">
        <%= flash.success %>
      </div>
      <% } %>

      <form action="/" method="post" class="ui form">
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
        </div>
        <button type="submit" class="ui blue labeled submit icon button">
          <i class="icon edit"></i> Envoyer
        </button>
      </form>


    </div>
  </body>
</html>
